body{
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F4DFBA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    height: 72px;
    background-color: #CA965C;
    color: #2C3531;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}
#content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#book-counts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    padding-bottom: 10px;
    color: #2C3531;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
}
#avg-rating{
    display: flex;
    gap: 10px;
}
#library-buttons{
    padding-top: 10px;
    display: flex;
    gap: 10px 40px;
}
button{
    border-style: solid;
    border-width: 2px;
    border-color: #2C3531;
    border-radius: 30px;
    transition: .25s;
    
}
.add-button{
    background-color: #B4C6A6;
}
.add-button:hover{
    background-color: #94a884;
}
.add-button:active{
    background-color: #889c78;
}
.delete-button{
    background-color: #ff9b9b;
}
.delete-button:hover{
    background-color: #e78080;
}
.delete-button:active{
    background-color: #da7070;
}
#library-buttons button {
    font-size: 18px;
    padding: 8px 15px;
}
#library-container{
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fill-available;
}
@-moz-document url-prefix() {
    #library-container{
        width:-moz-available;
    }
}

.book-card{
    display: flex;
    flex-direction: column;
    background-color: #876445;
    color: #EEC373;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: #EEC373;
    padding: 20px;
    margin: 40px 0px 0px 40px;
    min-height: 275px;
    width: 300px;
    justify-content: space-between;
}
.book-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: normal;
}
.book-title{
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    max-width: -webkit-fill-available;
    overflow-y: auto;
}
@-moz-document url-prefix() {
    .book-title{
        width:-moz-available;
        text-align: center;
    }
}
.book-author{
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    max-width: -webkit-fill-available;
    overflow-y: auto;
}
@-moz-document url-prefix() {
    .book-author{
        width:-moz-available;
        text-align: center;
    }
}
.book-details{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 15px;
    padding-top: 15px;
}
.book-rating{
    font-size: 26px;
}
.book-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.book-buttons button{
    font-size: 16px;
    padding: 5px;
    width: 125px;
}


.modal {
    opacity: 0;
    position: fixed;
    z-index: -1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    transition: .2s;
}
.modal-active{
    opacity: 1;
    z-index: 1;
}
  
.modal-content {
    background-color: #CA965C;
    color: #2C3531;
    margin: auto;
    padding: 20px;
    border: 3px solid #876445;
    width: 400px;
    border-radius: 30px;
}

.modal-header{
    display: flex;  
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}
.modal-subtitle{
    margin:5px 0px 15px;
    font-size: 20px;
    font-style: italic;

}
.modal-info-container{
    font-size: 18px;
}

.modal-info{
    display: flex;
}

input[type="text" i] {
    background-color: #CA965C;
    color: #2C3531;
    border-style: none;
    border-bottom: 1px solid #2C3531;
    flex-grow: 1;
    font-size: 14px;
}
input[type="number" i] {
    background-color: #CA965C;
    color: #2C3531;
    border-style: none;
    border-bottom: 1px solid #2C3531;
    width: 70px;
    font-size: 14px;
}

.error-message{
    color: red;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

/* the following is code to make the rating selector work */
.hide {
    display: none;
}
  
.clear {
    float: none;
    clear: both;
}

.rating {
    width: 100px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #2C3531;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #EEC373;
    text-shadow: -1px 1px 0 #2C3531;
}

/* This makes the average rating work */
#stars-outer {
    display: inline-block;
    position: relative;
} 
#stars-outer::before {
    content: "\2606 \2606 \2606 \2606 \2606";
    color: #2C3531;
} 
#stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
#stars-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #eec373;
}


/* This adjusts the appearance of the scroll bars */

::-webkit-scrollbar {
    width: 20px;
    padding-top: 2px;
}
    
::-webkit-scrollbar-track {
    border: 3px solid #CA965C;
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb {
    background:#EEC373; 
    border-radius: 10px;
    border: 2px solid #CA965C
}
    
::-webkit-scrollbar-thumb:hover {
    background:#d6af66; 
}
@-moz-document url-prefix() {
    body{
        scrollbar-color: #eec373 #CA965C #d6af66;
    }
}